.section__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 20%;
    border: solid 1px var(--color-border);
}